
@{
    ViewBag.Title = "LoginForm";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginForm</title>
    <h2 style="color: white;text-align:center; border: 1px solid brown;background-color: saddlebrown">@Html.ActionLink("Home", "Index", "Home", null, new { style = "color:white" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Html.ActionLink("About Us", "AboutForm", "About", null, new { style = "color:white" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Html.ActionLink("Contact Us", "ContactForm", "Contact", null, new { style = "color:white" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  @Html.ActionLink("Register", "RegisterForm", "Register", null, new { style = "color:white" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Html.ActionLink("Go to Login", "LoginForm", "Login", null, new { style = "color:white" }) </h2>
    <h2 style="color: white;text-align:center; border: 1px solid brown;background-color: saddlebrown"> Login Page </h2>
    <br />
    <h4>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Login Id &nbsp; &nbsp; &nbsp; <input id="Text1" type="text" /> </h4>

    <h4>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Password &nbsp; &nbsp; <input id="Text1" type="text" /></h4>
    <h3 style="color: saddlebrown ;text-align:left ; background-color: saddlebrown" "> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Html.ActionLink("Login as student", "StudentActivityForm", "StudentActivity", null, new { style = "color:white" }) </h3>

    <br />
    <h4> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Login Id &nbsp; &nbsp; &nbsp; <input id="Text1" type="text" /> </h4>
    <h4> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Password &nbsp; &nbsp; <input id="Text1" type="text" /> </h4>
    <h3 style="color: saddlebrown ;text-align:left ; background-color: saddlebrown" "> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Html.ActionLink("Login as Admin", "Index", "Home", null, new { style = "color:white" }) </h3>
    <br />
    <h4> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Login Id &nbsp; &nbsp; &nbsp; <input id="Text1" type="text" /> </h4>
    <h4> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Password &nbsp; &nbsp; <input id="Text1" type="text" /> </h4>
    <h3 style="color: saddlebrown ;text-align:left ; background-color: saddlebrown" "> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Html.ActionLink("Login as RT", "Index", "Home", null, new { style = "color:white" }) </h3>
    <br />
    <h4> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Login Id &nbsp; &nbsp; &nbsp; <input id="Text1" type="text" /> </h4>
    <h4> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Password &nbsp; &nbsp; <input id="Text1" type="text" /> </h4>
    <h3 style="color: saddlebrown ;text-align:left ; background-color: saddlebrown" "> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Html.ActionLink("Login as Staff", "Index", "Home", null, new { style = "color:white" }) </h3>


</head>
<body>
    <div> 
    </div>
</body>
</html>
