
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html>
<body style="background-image:url(../img/bla.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    position:relative;
      ">
    <style>
        a:link {
            color: darkblue;
            background-color: transparent;
            text-decoration: none;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h2 style="color: white;text-align:center; border: 90px solid darkblue; background-color: darkblue">  @Html.ActionLink("Home", "Index", "Home", null, new { style = "color:white" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; @Html.ActionLink("About Us", "AboutForm", "About", null, new { style = "color:white" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  @Html.ActionLink("Contact Us", "ContactForm", "Contact", null, new { style = "color:white" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; @Html.ActionLink("Register", "RegisterForm", "Register", null, new { style = "color:white" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; @Html.ActionLink("Go to Login", "LoginForm", "Login", null, new { style = "color:white" }) </h2>

    <h2 style="color: darkblue;text-align:center; font-size: 90px"> Hostel Management System</h2>
</body>
<footer style="color: white;text-align:center; border: 8px solid darkblue; background-color: darkblue;margin-top:450px">


    <h5>CONTACT US</h5>
    <i class="fa fa-map-marker"></i>University of Engineering and technology, Lahore, Pakistan&nbsp;&nbsp;
    <i class="fa fa-phone"></i>(+042) 666 12&nbsp;&nbsp;
    <i class="fa fa-envelope"></i>info.HMS@gmail.com&nbsp;&nbsp;
    <i class="fa fa-clock-o"></i>Mon - Sat, 08 AM - 06 PM



    <p>

        Copyright &copy;
        <script>document.write(new Date().getFullYear());</script> All rights reserved

    </p>
</footer>
<!-- Footer section end -->
</html>


