
@{
    ViewBag.Title = "AboutForm";
    Layout = null;
}

<!DOCTYPE html>

<html>
<body>
    <body style="background-image:url(../img/blur1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    position:relative;
      ">
        <style>
            a:link {
                color: darkblue;
                background-color: transparent;
                text-decoration: none;
            }
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <h2 style="color: white;text-align:center; border: 90px solid darkblue; background-color: darkblue">  @Html.ActionLink("Home", "Index", "Home", null, new { style = "color:white" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; @Html.ActionLink("About Us", "AboutForm", "About", null, new { style = "color:white" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  @Html.ActionLink("Contact Us", "ContactForm", "Contact", null, new { style = "color:white" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; @Html.ActionLink("Register", "RegisterForm", "Register", null, new { style = "color:white" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; @Html.ActionLink("Go to Login", "LoginForm", "Login", null, new { style = "color:white" }) </h2>
        <h3> </h3>
        <h3>  &nbsp; &nbsp; Details</h3>
        <h4>  &nbsp; &nbsp; For Allocation of room, first register yourself. Administrator will register students to allocate rooms.</h4>
        <h4>  &nbsp; &nbsp; Registered Students can check their status.</h4>
        <h4>  &nbsp; &nbsp; Hostelalites submit their hostel dues before due date.</h4>



</html>
